body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body.signIn {
    background-image: url("/img/登录界面.png");
}

div.m {
    position: absolute;
    top: 20%;
}

div.signIn {
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    border-color: #ffffff;
    box-shadow: 0px 0px 50px #000000;
}

input.signIn {
    margin: 2em auto;
}

button.signIn {
}

h1.logo {
    margin: 20px auto;
    font-family: 宋体;
    font-weight: 100;
    font-size: 50px;
    color: #0f88eb;
    box-shadow: #0f0f0f;
}

i.warning {
    font-style: normal;
    color: red;
    display: none;
}

*.danger1{

}

*.danger2 {
    visibility: hidden;
}

table.invoiceTable {
    margin: 1em auto;
    table-layout: fixed;
    width: 403px;
    position: relative;
    border-style: none;
}